<tr>
  <td><%= unit.name %></td>
  <td><%= unit.owner %></td>
  <td><%= unit.account %></td>
  <td><%= unit.amount %></td>
  <td><%= link_to 'Show', cooperative_unit_path(unit.cooperative, unit) %></td>
  <td>
    <%= link_to 'Edit', edit_cooperative_unit_path(unit.cooperative, unit) %>
  </td>
  <td>
    <%= link_to(
          'Destroy',
          cooperative_unit_path(unit.cooperative, unit),
          method: :delete,
          data: { confirm: 'Are you sure?' }
        ) %>
    </td>
</tr>