<tr>
  <td><%= link_to cooperative.name, cooperative %></td>
  <td><%= cooperative.short_name %></td>
  <td><%= cooperative.organism %></td>
  <td><%= link_to 'Show', cooperative %></td>
  <td><%= link_to 'Edit', edit_cooperative_path(cooperative) %></td>
  <td><%= link_to('Destroy', cooperative_path(cooperative), method: :delete , data: { confirm: 'Are you sure?' }) %></td>
</tr>