<h1><%= @cooperative.name %></h1>
<p>
  <%= link_to 'Edit', edit_cooperative_path(@cooperative), class: "btn btn-primary", role: "button" %>
  <%= link_to 'Back to Cooperatives', cooperatives_path, class: "btn btn-warning", role: "button" %>
</p>

<h1>Units</h1>

<%= link_to 'New Unit', new_cooperative_unit_path(@cooperative), class: "btn btn-primary", role: "button" %>

<table class="table table-hover">
  <thead>
    <tr>
      <th class="col-md-2">Name</th>
      <th class="col-md-3">Owner</th>
      <th class="col-md-2">Account</th>
      <th class="col-md-2">Amount</th>
      <th class="col-md-3" colspan="3">Actions</th>
    </tr>
  </thead>
  <tbody>
    <%= render @cooperative.units %>
  </tbody>
</table>