<!DOCTYPE html>
<html>
<head>
  <title>Gestion Europe</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <!-- Static navbar -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to 'Gestion Europe', root_path, class: "navbar-brand" %>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <!--
          <ul class="nav navbar-nav">
            <li><a href="#">&Agrave; propos</a></li>
            <li><a href="#">L'équipe</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Contactez-nous</a></href></li>
          </ul>
          -->
          <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li><%= link_to 'Log Out'.humanize, destroy_user_session_path, method: "delete" %></li>
          <% else %>
            <li><%= link_to 'Log in', new_user_session_path %></li>
          <% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div><!--/.container-fluid -->
    </nav>
    
    <% flash.each do |message_type, message| %>
      <% unless message_type == 'timeout' #dismiss devise's timeout messages %>
      <div class="alert alert-<%= message_type %>" role="alert"><%= message %></div>
      <% end %>
    <% end %>
    
    <%= yield %>
    
    <% if Rails.env.development? %>
      <%= debug(params) %>
      <% # console %>
    <% end %>
    
  </div>
</body>
</html>
